


#searchtitle{
    font-family: Chalkduster, fantasy;
    padding: 20px;
    
}

input[type=checkbox] {
    float: right;
    transform: scale(2.5);
}

#displayedresults{
    align-self: auto;
    

}