

@media screen and (max-width: 481px){

#displayedresults{
    float: left;
    width: 94%;

}
li{
    
    float: left;
    text-align: center;
}

    

}
#searchtitle{
    font-family: Chalkduster, fantasy;
    padding: 20px;
    
}

input[type=checkbox] {
    float: left;
    transform: scale(1.5);
}

#displayedresults{
    align-self: auto;
    

}